[phases.setup]
nixPkgs = ["nodejs_20", "pnpm"]

[phases.install]
cmds = ["pnpm install"]

[phases.build]
cmds = ["NODE_ENV=production pnpm build"]

[start]
cmd = "pnpm start"

[variables]
NODE_ENV = "production"
